<aside class="site-sidebar">
  <section>
    <h3>Categories</h3>
    <ul>
      <li><a href="/literature/">Literature</a></li>
      <li><a href="/tabletop-gaming/">Tabletop Gaming</a></li>
      <li><a href="/music/">Music</a></li>
      <li><a href="/data/">Data</a></li>
      <li><a href="/nonfiction/">Nonfiction</a></li>
      <li><a href="/art/">Art</a></li>
      <li><a href="/film/">Film</a></li>
      <li><a href="/technology/">Technology</a></li>
      <li><a href="/software/">Software</a></li>
    </ul>
  </section>

  <section>
    <h3>How to contribute</h3>
    <ul>
      <li><a href="/contribute/">Contribution guide</a></li>
    </ul>
  </section>

  <section>
    <ul>
      <li><a href="/recent-changes/">Recent changes</a></li>
      <li><a href="{{ '/random/' | relative_url }}">Random page</a>
</li>
    </ul>
  </section>
  
  <section>
  <h3>Sort by</h3><ul>
        <li><a href="/languages/">Languages</a></li></ul></section>
  
</aside>
