<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

<main class="page-content" aria-label="Content">
  <div class="shell">
    <aside class="site-sidebar" aria-label="Sidebar">
      {% include sidebar.html %}
    </aside>

    <div class="site-main" aria-label="Main content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
  </div>
</main>



    {%- include footer.html -%}

  </body>

</html>
